@page "/shoes/UpdateShoe"
@using P06Shop.Shared.Services.ShoeServices;
@inject ILocalStorageService LocalStorageService
@inject UpdateShoeService updateShoeService
<h3>Update Shoe</h3>

<SfTextBox Placeholder='Id' Value="@shoeId" @oninput="UpdateShoeId"></SfTextBox>
<SfTextBox Placeholder='Name' Value="@shoeName" @oninput="UpdateShoeName"></SfTextBox>
<SfTextBox Placeholder='Description' Value="@shoeDescription" @oninput="UpdateShoeDescription"></SfTextBox>
<SfTextBox Placeholder='ShoeSize' Value="@shoeSize" @oninput="UpdateShoeSize"></SfTextBox>
<button class="btn btn-primary" @onclick="showUpdateStatus">Update Shoe</button>
<p>Shoe status: @shoeNameToDisplay</p>

@code {
	//IMyApiService _shoeApiClient = new MyApiService();
	private readonly HttpClient _httpClient = new HttpClient();

	private string shoeNameToDisplay = "";
	public string shoeName { get; set; } = "";
	public string shoeDescription { get; set; } = "";
	public string shoeSize { get; set; } = "";
	public string shoeId { get; set; } = "";

	private void UpdateShoeId(ChangeEventArgs args)
	{
		shoeId = args.Value.ToString();
	}

	private void UpdateShoeName(ChangeEventArgs args)
	{
		shoeName = args.Value.ToString();
	}

	private void UpdateShoeDescription(ChangeEventArgs args)
	{
		shoeDescription = args.Value.ToString();
	}

	private void UpdateShoeSize(ChangeEventArgs args)
	{
		shoeSize = args.Value.ToString();
	}

	public async Task showUpdateStatus()
	{
		var token = await LocalStorageService.GetItemAsStringAsync("authToken");
		token = token.Replace("\"", "");
		shoeNameToDisplay = await updateShoeService.UpdateShoeFromApi(shoeId, shoeName, shoeDescription, shoeSize, token);
	}
}
